node_modules/
dist/
logs/
.cache/
.idea/
*.iml
backend/__pycache__/

# ============================
# Operating System Files
# ============================

.DS_Store
$RECYCLE.BIN/
Desktop.ini
Thumbs.db