.container {
    display: flex;
    text-align: left;
    margin-left: 15px;
    padding-top: 40px;
}

.child {
    flex: 1;
    text-align: center;
}



body {
    width: 350px;
    height: 250px;
}

input {
    width: 330px;
    height: 35px;
}

.offset {
    background-color: #F15CB7;
    border-color: #F15CB7;
    color: white;
}

.projects {
    background-color: white;
    border-color: #F15CB7;
    color:#F15CB7;
}

form {
    padding: 7px;
}

.form-container {
    text-align: center;
}

.close {
    float: right;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 5px;
}