.container {
    text-align: center;
}

body {
    width: 350px;
    height: 350px;
}

.sign-up {
    margin-left: 25px;
}

p {
    padding-bottom: 0px;
    color: #6E647A;
}

.sign-up {
    margin-left: 25px;
    color: #6E647A;
}

.checkbox {
    float: left;
    margin-top: 0px;
    accent-color: #F15CB7;
}

.checkbox-container {
    padding-top: 20px;
    padding-left: 10px;
}

.close {
    float: right;
    padding-right: 15px;
    padding-bottom: 10px;
}