div {
    text-align: center;
}

body {
    width: 350px;
    height: 420px;
}

input {
    width: 330px;
    height: 35px;
}

.offset {
    background-color: #F15CB7;
    border-color: #F15CB7;
    color: white;
}

.projects {
    background-color: white;
    border-color: #F15CB7;
    color:#F15CB7;
}

form {
    padding: 10px;
}

p {
    color: #6E647A;
}

.close {
    float: right;
    padding-right: 15px;
    padding-bottom: 10px;
}